:root {
  --main-color: #3c366b;
  --dark-main-color: rgb(39, 35, 73);
  --second-color: #1e1a2c;
  --third-color: #3b2e53;
  --font-main-color: #fff;
  --font-second-color: #a6b6be;
}
@import './button.css';
@import './User.css';
@import './Aside.css';
@import './Modal.css';
@import './ScrollBar.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: var(--second-color);
  color: var(--font-main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

input[type='text'] {
  border: none;
  font-size: 1.25rem;
  color: var(--font-main-color);
}
input[type='text']::placeholder {
  color: var(--font-second-color);
}
