.Modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(9, 10, 11, 0.75);
}
.Modal h3 {
  margin: 0;
  font-size: 23px;
  margin-bottom: 11px;
}
.Modal-Content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  padding: 2.5rem;
  max-width: 600px;
  text-align: left;
  position: absolute;
  height: fit-content;
  font-size: 1.125rem;
  background: var(--main-color);
}
.Modal-Return {
  top: 0;
  right: 3%;
  cursor: pointer;
  position: absolute;
}

.Modal-Return:after {
  font-size: 40px;
  content: '${' \\00d7 '}';
}
