.User {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 10px;
}

.User-Name {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--font-second-color);
}

.User-Avatar-Container {
  width: 50px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 1.25rem;
}
.User-Avatar-Container img {
  width: 100%;
  object-fit: contain;
}
